
<h1>Hack-aThon</h1>

  #if ($teams.size() > 0)
  <h2>Teams:</h2>
  #foreach ($team in $teams)
    <ul>
    <li><a href="/teams/$team.getId()">$team.getName()</a></li>
  </ul>
  #end
  #else
    <h2>No Teams Created yet</h2>
  #end

<a href="/teams/new">Create a new Team</a>
