
<h1>$team.getName() members:</h1>

<ul>
  #foreach($member in $team.getMembers())
   <li><a href="/teams/$team.getId()/members/$member.getId()">$member.getName()</a></li>
  #end
</ul>

<a href="/teams/$team.getId()/members/new">Add a new member to this team</a>
<a href="/teams/new">Add another new Team</a>
<a href="/teams">All Teams</a>
